<div class="container" [hidden]="submitted">
<!--通过绑定hidden属性控制区域切换-->
    <h1>Hero Form</h1>
    <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <!--angular会在form标签上自动创建并添加一个ngForm指令，它会控制带有ngModel指令和name属性的元素，监听它们的属性及有效性。附：在表单中使用[(ngModel)]时，必须要定义name属性，因为angular用name属性注册控件（然后追踪变化？）-->
        {{diagmostic}}
        <!--验证三个元素是否都已双向绑定了-->
        <div class="form-group">
            <label for="name">Name</label>
            <br/>
            <!--><input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #spy>-->
            
            <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
            
            <!--错误提示信息-->
            <!--只有用户做出无效更改时才显示错误信息，控件是"全新"状态时也隐藏，否则会造成还什么都没做就报错的不安。-->
            <div [hidden]="name.pristine" class="alert alert-danger">Name is required</div>
            <!--模板变量#name是一个可访问变量，而name是一个标签属性-->
            <br/>
            
            <!--ngModel绑定到当前元素值，[]表示将组件属性model的值显示到当前元素的视图上；()表示当当前元素的值发生改变时，修改组件属性model.name的值。借助[(ngModel)]指令就完成了双向绑定-->
            TODO:remove when down.{{model.name}}
            <br/>
            
            <!--ngModel指令不仅可双向数据绑定，还可以跟踪标记元素的状态（是否访问过、元素的值是否改变、当前值是否有效），每种状态都对应两个CSS类（真/假），可通过className属性查看。我们可定义不同的CSS样式，对跟踪的状态给出视觉反馈。-->
            TODO:remove this:{{spy.className}}
        </div>
        
        
        <div class="form-group">
            <label for="alterEgo">AlterEgo</label>
            <br/>
            <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>
        
        
        <div class="form-group">
            <label for="power">Hero Power</label>
            <br/>
            <select class="form-control" id="power" required [(ngModel)]="model.power" name="power" #po="ngModel">
                <option *ngFor="let pow of powers" >{{pow}}</option>
            </select>
            <div [hidden]="po.valid || po.pristine" class="alert alert-danger">Power is required</div>
            <!--无效？-->
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <!--将表单的总体有效性绑定到按钮的disabled属性上，若值无效则提交按钮被禁用。也看不到效果？-->
        
        <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>without reset
        <!--点击了New Hero后name输入框并不是全新的（虽然生成了新的Hero给model），表单仍记得在点击前输入的名字。也就是说更换了英雄即model组件属性，并不会重置控件的pristine原始状态。所以依然会有错误信息-->
        
        <button type="button" class="btn btn-default" (click)="newHero();heroForm.reset()">New Hero</button>with reset
        <!--清除标记 ?为什么清不清除看不到区别？ -->
    </form>
</div>

<div [hidden]="!submitted">
    <p>submitted:{{submitted}}</p>
    <h2>You submitted the following:</h2>
    <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9 pull-left">{{model.name}}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Alter Ego</div>
        <div class="col-xs-9 pull-left">{{model.alterEgo}}</div>
    </div>
    <div class="row">
        <div class="col-xs-3">Power</div>
        <div class="col-xs-9 pull-left">{{model.power}}</div>
    </div>
    <br/>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
</div>